body {
    background-image: url(https://i.ytimg.com/vi/iqdRh9IpJ6I/maxresdefault.jpg);
    color: black;
}
.main {
    background: white;

    width: 30vw;
    height: 100vh;
    float: right;
    text-align: center;
    padding-top: 250px;
    font-size: 30px;
}
.password,
.login {
    width: 30vw;
    height: 5vh;
    background: #ffa850;
    padding-top: 5px;
    font-size: 30px;
    border: solid;
    text-decoration: underline;
}

.sing_up > input {
    width: 145px;
    height: 58px;
    font-size: 20px;
}

.submit > input {
    width: 145px;
    height: 58px;
    font-size: 20px;
}

